@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');

/* fuentes */
$font-normal: 'Comic Neue', cursive;

/* colores */
$orange: rgb (255, 87, 51);
$red: rgb (255, 0, 0);
$blue: rgb (19, 0, 255);